<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
       
        <div class="wrapper">
            <div class="container">
                <!-- main column -->
               <div class="col-container">
                   <!-- left col -->
                   <div class="col-left">
                       <!-- user name -->
                       <div class="user-name top-bar">
                           <!-- logo -->
                           <div class="logo">
                               <img src="img/avatar_io.jpg" alt="io">
                           </div>
                           <!-- user name -->
                           <div class="font-text">
                               Nome Utente
                           </div>
                           <!-- icons -->
                           <div class="icons">
                               <i class="fas fa-circle-notch"></i>
                               <i class="fas fa-comment-alt"></i>
                               <i class="fas fa-ellipsis-v"></i>
                           </div>
                       </div>
   
                       <!-- notification -->
                       <div class="notification">
                           <!-- mute icon -->
                           <div class="mute">
                               <i class="fas fa-bell-slash"></i>
                           </div>
                           <!-- mute text -->
                           <div class="mute-text">
                               <h2>Ricevi notifiche di nuovi messaggi</h2>
                               <p>Attiva notifiche desktop</p>
                           </div>
                       </div>
   
                       <!-- filter -->
                       <div class="user-filter">
                           <span><i class="fas fa-search"></i></span>
                           <input 
                                type="text" 
                                placeholder="Cerca o inizia una nuova chat"
                                v-model="userFilter"
                                @keyup="filterUser"
                            >
                       </div>
   
                       <!-- user list -->
                       <div class="user-list">
                           <div>
                               <ul>
                                   <!-- con il v-if me li stampa solo se visible è true -->
                                   <li 
                                        v-for="(contact, index) in contacts" 
                                        v-if="contact.visible"
                                        class="contact-user" 
                                        :class="{ 'active' : index == activeContact}"
                                        @click="setActiveContact(index)"
                                    >
                                       <img :src="nameImage(index)" :alt="contact.name">
                                       <h3>{{contact.name}}</h3>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <!-- right col -->
                   <div class="col-right">
                       <!-- user name and chat -->
                       <div class="user-chat top-bar">
                           <!-- logo -->
                           <div class="logo">
                               <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" :alt="contacts[activeContact].name">
                           </div>
                           <!-- user name -->
                           <div class="font-text">
                               <!-- nome del contatto della chat aperta nella parte destra -->
                               <h2>{{ contacts[activeContact].name }}</h2> 
                               <p>Ultimo accesso</p>
                           </div>
                           <!-- icons -->
                           <div class="icons">
                               <i class="fas fa-search"></i>
                               <i class="fas fa-paperclip"></i>
                               <i class="fas fa-ellipsis-v"></i>
                           </div>
                       </div>
   
                       <!-- chat -->
                       <div class="chat">
                            <div class="messages">
                                <div class="message" v-for="message in contacts[activeContact].messages" :class="message.status">
                                    <div class="message-text">
                                        {{ message.text }}
                                    </div> 
                                    <div class="message-date">
                                        {{ message.date }}
                                    </div>
                                </div>
                            </div>
                            <!-- parte sotto con l'input del testo da inviare -->
                            <div class="text-message">
                                <div class="emoji">
                                    <i class="far fa-smile"></i>
                                </div>

                                <div class="message-input-text">
                                    <input 
                                        type="text" 
                                        placeholder="Scrivi un messaggio"
                                        v-model="inputMessage" 
                                        @keyup.enter="pushNewMessage"
                                    > <!-- quello che l'utente scrive viene inserito in inputMessage -->
                                </div>

                                <div class="record-voice">
                                    <i class="fas fa-microphone"></i>
                                </div>
                            </div> 
                       </div>
                   </div>
               </div>
           </div>
        </div>

    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>